/* style 변수 설정 */
:root {
  /* 짤린 색깔들 */
  --color1: hsl(174, 53%, 73%);
  --color2: hsl(163, 48%, 68%);
  --color3: hsl(151, 53%, 79%);
  --color4: hsl(188, 61%, 88%);
  --color5: hsl(130, 45%, 90%);
  --color6: hsl(78, 59%, 79%);
  --color-lightpink: #ffdad7;
  --color-pink: #fd7f80;
  --color-lightbrown: #786352;
  --color-black: #2c3e50;
  /* 지하철 색 */
  --color-brown: #553a31;
  --color-yellow: #fde511;

  /* 강사님 피드백 이후 색 */
  --color-font: #00282e;
  --color-focus: #fd7d73;
  --color-blur: #efcac3;
  --color-bg: #f5ebe3;
  --color-light-bg: #f7f7f7;
  --color-dark-green: #052629;
  --color-green: #0e595f;
  --color-light-green: #81bbaf;
  --color-super-light-green: #b9cfcb;

  --color-line1: #263c96;
  --color-line2: #3cb44a;
  --color-line3: #ff7300;
  --color-line4: #2c9ede;
  --color-line5: #8936e0;
  --color-line6: #b5500b;
  --color-line7: #697215;
  --color-line8: #d90073;
  --color-line9: #cea43a;
  /* size(px) */
  --header-height: 60px;
  --footer-height: 200px;

  /* padding */
  --padding-default: 20px;
  --padding-small: 8px;
  --padding-tiny: 4px;
  --margin-default: 40px;
  --margin-line-space: 10px;
  --margin-header-to-body: 40px;
  --margin-body-to-footer: 20px;

  /* title font size */
  --font-size-huge: 160px;
  --font-size-title-large: 60px;
  --font-size-title-normal: 40px;
  --font-size-title-small: 20px;

  /* font size */
  --font-size-large: 24px;
  --font-size-normal: 18px;
  --font-size-small: 14px;
  --font-size-tiny: 12px;
  --font-size-3d: 10px;
}


/* frame */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 38%);
  background-clip: padding-box;
  border: 4px solid var(--color-bg);
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}
