@charset "UTF-8";
/* 헤더 틀 */
header  {
  width: calc(100% - 16px);
  height: var(--header-height);
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 2;
  color: var(--color-font);
}

/* 헤더 크기 조절 */
.size-controller  {
	width: 72%;
	display: flex;
	justify-content: space-around;
}

.yellow-span {
	color: var(--color-focus);
}

/* 로고 및 로고 링크 */
.logo  {
	position: relative;
	font-size: var(--font-size-title-large);
}
.logo > a {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


/* 센터 메뉴 */
/* 센터 메뉴 틀 */
.menu-section {
  width: 54%;
  display: flex;
  justify-content: flex-end;
}
/* 메인 메뉴 */
.menu  {
  width: 80%;
  min-width: 460px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--font-size-normal);
}
.menu li {
	margin-left: var(--margin-default);
}
.menu li:hover {
	color: var(--color-focus);
}

/* 미니 로그인 메뉴 */
.login-container {
  width: 20%;
  min-width: 152px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--font-size-small);
  color: var(--color-font);
}
.login div {
	position: relative;
}
.login div:hover {
	color: var(--color-blur);
}

/* 마이페이지 서브메뉴 */
.submenu-container {
	height: 100%;
	display: flex;
	align-items: center;
}
/* 서브메뉴 */
.submenu {
  min-width: 152px;
  height: 360px;
  transition-duration: 0.3s;
  overflow: hidden;
  background-color: white;
  position: absolute;
  top: 60px;
  left: -48px;
}
/* 서브메뉴 항목 */
.submenu-item {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: relative;
}
.submenu-item:hover {
	cursor: pointer;
    color: var(--color-focus);
}
