<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit5.wherewego.ad.AdDAOImp">
	<select id="adAllSelect" resultType="com.bit5.wherewego.ad.AdVO">
	<![CDATA[ 
      select * from 
      (select * from 
      (select   b.b_id, b.name name, to_char(a.startdate, 'MM/DD') startdate, to_char(a.enddate, 'MM/DD') enddate, a.photo photo, a.link link, a.price price, a.grade grade 
      from ad a 
      join business b on a.b_id=b.b_id 
      order by startdate desc)
      where rownum<=#{param1} order by startdate asc )  
      where rownum<=#{param2} order by startdate desc
      ]]>
	</select>
	
	<!-- 광고리스트페이징 -->
	<select id="totalRecordCount" resultType="int">
		select count(startdate) totalRecord from ad
	</select>
	
	<!-- 광고신청(전송) -->
	<insert id="adRegisterOk" parameterType="com.bit5.wherewego.ad.AdVO">
		insert into ad values(#{b_id},#{startdate},#{enddate},#{photo},#{info},#{link},#{price},#{grade})
	</insert>
	
	<!-- 신규광고카운트 -->
	<select id="newAdCount" resultType="int">
		select count(b_id) newAd from ad where grade='검토중'
	</select>
	
	<!-- 진행중인광고 카운트 -->
	<select id="ingAdCount" resultType="int">
	<![CDATA[
		select count(b_id) ingAd from ad where b_id=#{param1} and grade='승인' and to_char(startdate,'YY/MM/DD') <= to_char(sysdate,'YY/MM/DD') and to_char(enddate,'YY/MM/DD') >= to_char(sysdate,'YY/MM/DD')
	]]>
	</select>
	
	<!-- 검토중광고 카운트 -->
	<select id="yetAdCount" resultType="int">
		select count(b_id) yetAd from ad where b_id=#{param1} and grade='검토중'
	</select>
	
	<!-- 완료된광고 카운트 -->
	<select id="edAdCount" resultType="int">
	<![CDATA[
		select count(b_id) edAd from ad where b_id=#{param1} and grade='승인' and to_char(enddate,'YY/MM/DD') < to_char(sysdate,'YY/MM/DD')
	]]>
	</select>
	
	<!-- 미결제광고 카운트 
	<select id="yetAdCount" resultType="int">
		select count(b_id) yetAd from ad where b_id=#{param1} and grade='검토중'
	</select>
	-->
	
</mapper>