<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit5.wherewego.buy.BuyDAOImp">
	<!-- 새로운구입 카운트 -->
	<select id="newBuyCount" resultType="int">
		select count(buynum) newBuy from buy where to_char(buydate,'YY/MM/DD') = to_char(sysdate,'YY/MM/DD')
	</select>
	
	<!-- 구매내역 추가 -->
	<insert id="insertBuy" parameterType="com.bit5.wherewego.buy.BuyVO">
		insert into buy(p_num,userid,email,tel,price,count)
		values(#{p_num},#{userid},#{email},#{tel},${price},${count})
	</insert>
</mapper>