<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit5.wherewego.course.CourseDAOImp">
	<select id="courseAllSelect" resultType="com.bit5.wherewego.course.CourseVO">	
		select * from 
		(select * from 
		(select c_num, name, stname, userid, grade from course c
		join station s on c.stcode=s.stcode
		<if test='param4!=null and !param4.equals("")'>
		and ${param3} like '%'||#{param4, jdbcType=VARCHAR}||'%' 
		</if>
		order by c_num desc) 
		<![CDATA[ 
		where rownum<=#{param1} order by c_num asc) 
		where rownum<=#{param2} order by c_num desc
		]]>
	</select>
	
	<select id="totalCourseCount" resultType="int">
		select count(c_num) from course c
		join station s on c.stcode=s.stcode
		<if test='param2!=null and !param2.equals("")'>
		and ${param1} like '%'||#{param2}||'%' 
		</if>	 
	</select>
	
	<select id="newCourseCount" resultType="int">
		select count(c_num) newCourseCount from course where grade='검토중'
	</select>
	
	<select id="myCourseSelect" resultType="com.bit5.wherewego.course.CourseVO">
		select c_num, name, userid, time, stcode, info, grade, pcode1, pcode2, pcode3, score, sort, opt 
		from course where userid=#{param1} order by c_num desc
	</select>
	
</mapper>