<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit5.wherewego.notice.NoticeDAOImp">
	<!-- 공지사항리스트 -->
	<select id="noticeAllSelect" resultType="com.bit5.wherewego.notice.NoticeVO">
		<![CDATA[ 
		select * from 
		(select * from 
		(select n_num, title, content, photo, hit, to_char(writedate, 'MM/DD') writedate, pop from notice 
		order by n_num desc) 
		where rownum<=#{param1} order by n_num asc) 
		where rownum<=#{param2} order by n_num desc
		]]>
	</select>
	
	<select id="noticeAllSelectSearch" resultType="com.bit5.wherewego.notice.NoticeVO">
		<![CDATA[ 
		select * from 
		(select * from 
		(select n_num, title, content, photo, hit, to_char(writedate, 'MM/DD') writedate, pop from notice 
		where ${param3} like '%'||#{param4}||'%' order by n_num desc ) 
		where rownum<=#{param1} order by n_num asc) 
		where rownum<=#{param2} order by n_num desc
		]]>
	</select>
	
	<!-- 공지사항 작성(전송) -->
	<insert id="noticeWriteOk"  parameterType="com.bit5.wherewego.notice.NoticeVO">
  		insert into board(n_num, title, content, photo, hit, writedate, pop) values(noticesq.nextval, #{n_num}, #{title}, #{content}, #{photo}, #{hit}, #{writedate}, #{pop})
	</insert>
	 
	<!-- 공지사항 리스트 페이징 -->
	<select id="totalRecordCount" resultType="int">
		select count(n_num) totalRecord from notice
	</select>
	<select id="totalRecordCountSearch" resultType="int">
		select count(n_num) totalRecord from notice where ${param1} like '%'||#{param2}||'%' 
	</select>
	
	<!--  공지사랑 뷰 -->
	<select id="noticeView" parameterType="int" resultType="com.bit5.wherewego.notice.NoticeVO">
		select n_num, title, content, photo, hit, to_char(writedate, 'MM-DD HH:MI') writedate from notice where n_num=#{param1}
	</select>
</mapper>