<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit5.wherewego.place.PlaceDAOImp">
	<select id="placeAllSelect" resultType="com.bit5.wherewego.place.PlaceVO">
		select * from 
		(select * from 
		(select pcode, datesort, name, nvl(time,'없음') time, link, addr, grade from place
		<if test='param4!=null and !param4.equals("")'>
		where ${param3} like '%'||#{param4}||'%' 
		</if>	
		order by pcode desc) 
		<![CDATA[ 
		where rownum<=${param1} order by pcode asc) 
		where rownum<=${param2} order by pcode desc
		]]>
	</select>

	<!-- 장소 리스트 페이징 -->
	<select id="totalPlaceCount" resultType="int">
		select count(pcode) from place
		<if test='param2!=null and !param2.equals("")'>
		where ${param1} like '%'||#{param2}||'%' 
		</if>
	</select>
	
	<!-- 장소 등록 전, 중복 여부 확인 -->
	<select id="checkPlace" parameterType="com.bit5.wherewego.place.PlaceVO" resultType="int">
		select count(pcode) from place
		where datesort=#{datesort} and name=#{name} and addr=#{addr}
	</select>
	
	<!-- 신규 장소 등록 -->
	<insert id="insertPlace" parameterType="com.bit5.wherewego.place.PlaceVO">
		insert into place(datesort, name, addr
		<if test='tel!=null and !tel.equals("")'>
		, tel
		</if>
		) values (#{datesort}, #{name}, #{addr}
		<if test='tel!=null and !tel.equals("")'>
		, #{tel}
		</if>
		)
	</insert>
	
	<!-- 상호명, 주소로 pcode 알아내기 -->
	<select id="selectPlace" parameterType="com.bit5.wherewego.place.PlaceVO" resultType="int">
		select pcode from place where datesort=#{datesort} and name=#{name} and addr=#{addr}
	</select>
	
	<!-- 장소 상세보기 -->
	<select id="placeView" resultType="com.bit5.wherewego.place.PlaceVO">
		select pcode, datesort, name, addr, tel, info, time, info, link, grade from place where pcode=${param1}
	</select>
	<!--  승인 미승인 -->
	<update id="placegrade">
		update place set
		<choose>
			<when test='param2.equals("승인")'>grade='미승인'</when>
			<otherwise>grade='승인'</otherwise>
		</choose>
		where pcode=${param1}
	</update>
	<!-- 수정완료 -->
	<update id="placeEditOk" parameterType="com.bit5.wherewego.place.PlaceVO">
		update place set name=#{name}, addr=#{addr} 
		<if test='tel!=null and !tel.equals("")'>
		,tel=#{tel}
		</if>
		<if test='info!=null and !info.equals("")'>
		, info=#{info}
		</if>
		<if test='link!=null and !link.equals("")'>
		, link=#{link}
		</if>
		where pcode=${pcode}
	</update>
</mapper>