<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit5.wherewego.place.PlaceDAOImp">
	<select id="placeAllSelect" resultType="com.bit5.wherewego.place.PlaceVO">
		select pcode, sort, name, addr, zip, tel, time, info, link 
		from place
	</select>

	<!-- 장소 리스트 페이징 -->
	<select id="totalRecordCount" resultType="int">
		select count(pcode)
		totalRecord from place
	</select>
</mapper>