<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit5.wherewego.product.ProductDAOImp">
  	<select id="totalProductCount" resultType="int">
		select count(p_num) from product
		<if test='param2!=null and !param2.equals("")'>
		 where ${param1} like '%'||#{param2}||'%' 
		 </if>
	</select>
	
	<!-- 포인트샵 리스트 -->
	<select id="productAllSelect" resultType="com.bit5.wherewego.product.ProductVO">	
		select * from 
		(select * from 
		(select p_num, brand, name, price, img, gender from product
		<if test='param4!=null and !param4.equals("")'>
		where ${param3} like '%'||#{param4, jdbcType=VARCHAR}||'%' 
		</if>	
		order by p_num desc ) 
		<![CDATA[ 
		where rownum<=${param1} order by p_num asc) 
		where rownum<=${param2} order by p_num desc
		]]>
	</select>
	<!-- 광고게시판 뷰 -->
	<select id="pointshopView" parameterType="String" resultType="com.bit5.wherewego.product.ProductVO">
		select p_num, brand, name, price, img, gender, info from product where p_num=#{param1}
	</select>
	<!-- 리스트 삭제 -->
	<delete id="pdDelete" parameterType="com.bit5.wherewego.product.ProductVO">
		delete from product where p_num=#{param1}
	</delete>
	
	<!-- 결제 상품 정보 -->
	<select id="paymentPageOk"  resultType="String" parameterType="com.bit5.wherewego.product.ProductVO">
  		select p_num, brand, name, price, img, gender from product
	</select>
	<!-- 수정 -->
	<update id="pointshopEditOk" parameterType="com.bit5.wherewego.product.ProductVO">
		update product set name=#{name}, brand=#{brand}, price=#{price}, info=#{info} where p_num=#{p_num}
	</update>
</mapper> 
