<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit5.wherewego.user.UserDAOImp">
	
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="com.bit5.wherewego.user.UserVO">
		insert into usertbl(userid, pwd, name, num, tel, email, addr, startdate, opt) values(#{userId}, #{pwd}, #{name}, #{num}, #{tel}, #{email}, #{addr}, TO_DATE(#{startdate}, 'YYYY-MM-DD'), #{opt})
	</insert>
	
	<!-- id 중복확인 -->
	<select id="idDoubleCheck" parameterType="com.bit5.wherewego.user.UserVO" resultType="int">
		select count(userid) from usertbl where userid=#{userId}
	</select>
	
	<!-- 로그인 -->
	<select id="selectUserToLogin" resultType="int" parameterType="com.bit5.wherewego.user.UserVO">
		select count(userid) from usertbl where userid=#{userId} and pwd=#{pwd}
	</select>
	
	<!-- 정보 받아오기(프로필 표시용) -->
	<select id="selectUser" resultType="com.bit5.wherewego.user.UserVO" parameterType="com.bit5.wherewego.user.UserVO">
		select userid, pwd, name, num, tel, email, zip, addr, startdate, photo, opt, zzim, regdate, point from usertbl where userid=#{userId}
	</select>
	
	<!-- 결제 구매자 정보-->
	<select id="userForPay" resultType="com.bit5.wherewego.user.UserVO">
  		select userid, name, tel, email, point, addr from usertbl where userid=#{param1}
	</select> 
	
	<!-- 회원정보 수정 -->
	<update id="updateUser" parameterType="com.bit5.wherewego.user.UserVO">
		update usertbl set pwd=#{pwd}, tel=#{tel}, email=#{email}, addr=#{addr}, startdate=TO_DATE(#{startdate}, 'YYYY-MM-DD') where userid=#{userId} 
	</update>
	
	<!-- 포인트 사용 -->
	<update id="usePoint" parameterType="com.bit5.wherewego.buy.BuyVO">
	 	update set point=${point} where userid=#{userid}
	</update>
	
</mapper>